<section class="wrapper">
    <h1>Computers</h1>
    <div class="card">
        <div class="card-header">
            <clr-icon shape="search"></clr-icon>
            <input #gb type="text" pInputText size="25" placeholder="Search Computers">
        </div>
    </div>
    <div class="card" *ngIf="selectedComputer">
        <div class="card-header">
            Asset Tag: {{selectedComputer.computer_name}}
        </div>
        <div class="card-block" *ngIf="selectedComputer">
            <div class="card-text">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                        <div *ngFor="let c of selectedComputer.users; let i = index">
                        <label for="ext" >Currently Logged In:</label> <a [routerLink]="['/users', c.user_name]">{{c.first_name}} {{c.last_name}}</a>
                                
                        </div>
                        </div>
                        <div class="form-group">
                            <label for="ext">IP Address:</label>
                            <input type="text" id="ext" size="20" readonly [(ngModel)]="selectedComputer.ip_address" *ngIf="selectedComputer.ip_address">
                        </div>

                        <div class="form-group">
                            <label for="ext">Memory:</label>
                            <input type="text" id="ext" size="20" readonly [ngModel]="selectedComputer.computer_attribute.memory_physical | fileSize"
                                (ngModelChange)="selectedComputer.memory_physical=$event" *ngIf="selectedComputer.computer_attribute">

                        </div>
                                                    <div class="form-group">
                            <label for="ext">Disk Space:</label>
                            <input type="text" id="ext" size="6" readonly [ngModel]="selectedComputer.computer_attribute.disks_size + ' GB'" *ngIf="selectedComputer.computer_attribute">

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="ext">Operating System:</label>
                            <input type="text" id="ext" size="30" readonly [(ngModel)]="selectedComputer.computer_attribute.os_type" *ngIf="selectedComputer.computer_attribute.os_type">
                        </div>

                        <div class="form-group">
                            <label for="ext">Service Pack:</label>
                            <input type="text" id="ext" size="30" readonly [(ngModel)]="selectedComputer.computer_attribute.os_service_pack" *ngIf="selectedComputer.computer_attribute.os_service_pack">
                        </div>
                        <div class="form-group">
                            <label for="ext">Serial Number:</label>
                            <input type="text" id="ext" size="30" readonly [(ngModel)]="selectedComputer.computer_attribute.os_serial" *ngIf="selectedComputer.computer_attribute.os_serial">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group btn-outline-primary btn-sm">
                </div>
            </div>


        </div>
    </div>
    <p-dataTable [value]="computers" exportFilename="All Computers" selectionMode="single" [(selection)]="selectedComputer" datakey="computer_id" [rows]="10"
        [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,20]" [globalFilter]="gb" #dt>
        <p-column field="computer_name" header="Computer Name" [sortable]="true"></p-column>
        <p-column field="computer_type" header="Computer_Type" [sortable]="true"></p-column>
        <p-column field="ip_address" header="IP Address" [sortable]="true"></p-column>
        <p-column field="installed_on" header="Installed On" [sortable]="true" ></p-column>
        <p-footer>
            <div class="ui-helper-clearfix">
                <button type="button" class="btn btn-icon btn-primary" title="Export to CSV" (click)="dt.exportCSV()" style="float:right"><clr-icon shape="download"></clr-icon></button>
            </div>
        </p-footer>
        
    </p-dataTable>
</section>