    <h1>Computers</h1>
    <div class="card">
        <div class="card-header">
            <clr-icon shape="search"></clr-icon>
            <input type="text" size="25" placeholder="Search Computers" (input)="dt.filterGlobal($event.target.value, 'contains')">
        </div>
    </div>
    <div class="card" *ngIf="selectedComputer">
        <div class="card-header">
            Asset Tag: {{selectedComputer.computer_name}}
        </div>
        <div class="card-block" *ngIf="selectedComputer">
            <div class="card-text">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div *ngFor="let c of selectedComputer.users; let i = index">
                                <label for="ext">Currently Logged In:</label>
                                <a [routerLink]="['/users', c.user_name]">{{c.first_name}} {{c.last_name}}</a>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ext">IP Address:</label>
                            <input type="text" id="ext" size="20" readonly [(ngModel)]="selectedComputer.ip_address" *ngIf="selectedComputer.ip_address">
                        </div>

                        <div class="form-group">
                            <label for="ext">Memory:</label>
                            <input type="text" id="ext" size="20" readonly [ngModel]="selectedComputer.computer_attribute.memory_physical | fileSize"
                                (ngModelChange)="selectedComputer.memory_physical=$event" *ngIf="selectedComputer.computer_attribute">

                        </div>
                        <div class="form-group">
                            <label for="ext">Disk Space:</label>
                            <input type="text" id="ext" size="6" readonly [ngModel]="selectedComputer.computer_attribute.disks_size + ' GB'" *ngIf="selectedComputer.computer_attribute">

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="ext">Operating System:</label>
                            <input type="text" id="ext" size="30" readonly [(ngModel)]="selectedComputer.computer_attribute.os_type" *ngIf="selectedComputer.computer_attribute.os_type">
                        </div>

                        <div class="form-group">
                            <label for="ext">Service Pack:</label>
                            <input type="text" id="ext" size="30" readonly [(ngModel)]="selectedComputer.computer_attribute.os_service_pack" *ngIf="selectedComputer.computer_attribute.os_service_pack">
                        </div>
                        <div class="form-group">
                            <label for="ext">Serial Number:</label>
                            <input type="text" id="ext" size="30" readonly [(ngModel)]="selectedComputer.computer_attribute.os_serial" *ngIf="selectedComputer.computer_attribute.os_serial">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group btn-outline-primary btn-sm">
                </div>
            </div>


        </div>
    </div>
    <p-table #dt [columns]="cols" [value]="computers" exportFilename="All Computers" selectionMode="single" [(selection)]="selectedComputer" datakey="computer_id"
        [rows]="15" [paginator]="true" [pageLinks]="5" >
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                    {{col.header}}
                </th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-computer let-columns="columns">
            <tr [pSelectableRow]="computer">
                <td *ngFor="let col of columns">
                    {{computer[col.field]}}
                </td>

            </tr>
        </ng-template>

    </p-table>
