<section class="sidenav-content">
            <section class="nav-group">
                <input id="tabexample2" type="checkbox">
                <label for="tabexample2">Assets</label>
                <ul class="nav-list">
                    <li><a routerLink="/users" routerLinkActive="active" class="nav-link">Users</a></li>
                    <li><a routerLink="/computers" routerLinkActive="active" class="nav-link">Computers</a></li>
                    <li><a routerLink="/phones" routerLinkActive="active"class="nav-link">Phones</a></li>
                </ul>
            </section>
</section>
            