<h2>New Employee Request Form</h2>
{{userForm.valid}}
<p class="p1">Please complete this form to request a new account and equipment for an employee. You will receive a notification via email when set up is complete.</p>

<div class="clr-row">

      <div class="card">

          <div class="card-block">
            <div class="card-title">
              New Hire Information
          </div>
            <div class="card-text">
<form clrForm [formGroup]="userForm">

    <clr-input-container>
        
          <label>Employee ID</label>
          <input  clrInput type="text" [(ngModel)]="newEmp.employee_id"  formControlName="employee_id" name="employee_id" (blur)="getDFUser(newEmp.employee_id)" [readonly]="isReadOnly"/>
            <clr-control-helper>Enter the employee's ID to autofill this section</clr-control-helper>
            <clr-control-error *clrIfError="pattern">only numbers allowed in this field</clr-control-error>
          </clr-input-container>
          <clr-input-container>
      <label>First name</label>
      <input  clrInput type="text" [(ngModel)]="newEmp.first_name" formControlName="first_name" name="first_name"  (blur)="concatDisplayName()" [readonly]="isUserReadOnly"/>
      
      <clr-control-error>This field is required!</clr-control-error>
    </clr-input-container>
    <clr-input-container>
        <label>Last name</label>
        <input  clrInput type="text"[(ngModel)]="newEmp.last_name" formControlName="last_name"  name="last_name"  (blur)="concatDisplayName()" [readonly]="isUserReadOnly"/>
        
        <clr-control-error>This field is required!</clr-control-error>
      </clr-input-container>
      <clr-input-container>
        <label>Full name</label>
        <input  clrInput [(ngModel)]="newEmp.display_name" formControlName="display_name" name="display_name" [readonly]="isUserReadOnly || !newEmp.id" />
        
        <clr-control-error>This field is required!</clr-control-error>
      </clr-input-container>
      
      <div class="clr-form-control" [ngClass]="
      {'clr-error': unExists || (user_name.invalid && (user_name.dirty || user_name.touched))}" *ngIf="newEmp.id">
              <label class="clr-control-label">Username</label>
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input  [(ngModel)]="newEmp.user_name" [ngModelOptions]="{standalone: true}" name="user_name" user placeholder="Username" (blur)="validateUserName()" class="clr-input" #user_name="ngModel" [readonly]="isReadOnly">
                  <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <div *ngIf="user_name.invalid && (user_name.dirty || user_name.touched)">
                <span class="clr-subtext" *ngIf="user_name.errors.required">Username required</span>
                <span class="clr-subtext" *ngIf="user_name.errors.minlength">Username must be at least 3 characters</span>
                </div>
                <span class="clr-subtext" *ngIf="unExists">Username already exists</span>
              </div>
            </div>
      <clr-input-container>
        <label>Job Title</label>
        <input  clrInput [(ngModel)]="newEmp.job_title" [ngModelOptions]="{standalone: true}" name="job_title"  [readonly]="isUserReadOnly"/>
        
        <clr-control-error>This field is required!</clr-control-error>
      </clr-input-container>
      <clr-input-container>
        <label>What Building will they be working from?</label>
        <input  clrInput [(ngModel)]="newEmp.building" [ngModelOptions]="{standalone: true}" name="building"  [readonly]="isReadOnly"/>
        
        <clr-control-error>This field is required!</clr-control-error>
      </clr-input-container>
      <clr-date-container *ngIf="!emp_id">
        <label >Start Date</label>
        <input type="date"  name="start_date" clrDate value="newEmp.start_date" [(ngModel)]="newEmp.start_date" [ngModelOptions]="{standalone: true}" >
    </clr-date-container>
    <clr-input-container *ngIf="emp_id">
      <label>Start Date</label>
      <input clrInput [(ngModel)]="startDate" [ngModelOptions]="{standalone: true}" name="start_date"  [readonly]="isLocked"/>
      
      <clr-control-error>This field is required!</clr-control-error>
    </clr-input-container>
                  <clr-radio-container>
                <label>Is there a computer in the work area currently?</label>
                <clr-radio-wrapper>
                  <input type="radio" clrRadio name="need_computer"  value="true"  [(ngModel)]="newEmp.need_computer" [ngModelOptions]="{standalone: true}" [readonly]="isReadOnly" />
                  <label>Yes</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                  <input type="radio" clrRadio name="need_computer"  value ="false" [(ngModel)]="newEmp.need_computer" [ngModelOptions]="{standalone: true}" [readonly]="isReadOnly" />
                  <label>No</label>
                </clr-radio-wrapper>
                
                <clr-control-error>This field is required!</clr-control-error>
              </clr-radio-container>
              <clr-input-container>
            <label>PC Number</label>
            <input  clrInput [(ngModel)]="newEmp.pc_number" [ngModelOptions]="{standalone: true}" name="pc_number"  [readonly]="isReadOnly"/>
            <clr-control-helper>Located on a red tag or written in marker on top of the computer</clr-control-helper>
            <clr-control-error>This field is required!</clr-control-error>
          </clr-input-container>


          <clr-select-container>
            <label>Who is the new hire replacing:</label>
            <select clrSelect [ngModel]="newEmp.copy_user" formControlName="copy_user" name="copy_user" (ngModelChange)="newEmp.copy_user = $event">
                <option name="UserSAMAccountName" *ngFor="let user of users" [value]="user.user_name" >
                    {{ user.display_name }}
                </option>
                
            </select>
            <clr-control-helper>If this is a new position, list an employee who has similar access/programs that the new hire requires</clr-control-helper>
            <clr-control-error>You must select another employee</clr-control-error>
        </clr-select-container>
          <clr-checkbox-container clrInline>
            <label>Select Any programs needed:</label>
            <clr-checkbox-wrapper>
              <input type="checkbox" clrCheckbox name="needs_ax"   [(ngModel)]="newEmp.needs_ax" [ngModelOptions]="{standalone: true}" [readonly]="isReadOnly" />
              <label>Dynamics AX</label>
            </clr-checkbox-wrapper>
            <clr-checkbox-wrapper>
              <input type="checkbox" clrCheckbox name="needs_ice"  [(ngModel)]="newEmp.needs_ice" [ngModelOptions]="{standalone: true}" [readonly]="isReadOnly" />
              <label>ICE</label>
            </clr-checkbox-wrapper>
            <clr-checkbox-wrapper>
                <input type="checkbox" clrCheckbox name="needs_stellar"  [(ngModel)]="newEmp.needs_stellar" [ngModelOptions]="{standalone: true}" [readonly]="isReadOnly" />
                <label>STELLAR</label>
              </clr-checkbox-wrapper>
              <clr-checkbox-wrapper>
                <input type="checkbox" clrCheckbox name="needs_onbase" [(ngModel)]="newEmp.needs_onbase" [ngModelOptions]="{standalone: true}" [readonly]="isReadOnly" />
                <label>OnBase</label>
              </clr-checkbox-wrapper>
              <clr-checkbox-wrapper>
                <input type="checkbox" clrCheckbox name="needs_dl"  [(ngModel)]="newEmp.needs_dl" [ngModelOptions]="{standalone: true}" [readonly]="isReadOnly" />
                <label>Dwelling Live</label>
              </clr-checkbox-wrapper>
              <clr-checkbox-wrapper>
                <input type="checkbox" clrCheckbox name="needs_scan"  [(ngModel)]="newEmp.needs_scan" [ngModelOptions]="{standalone: true}" [readonly]="isReadOnly" />
                <label>Scan Folder</label>
              </clr-checkbox-wrapper>
              <clr-checkbox-wrapper>
                <input type="checkbox" clrCheckbox name="needs_PDF"  [(ngModel)]="newEmp.needs_PDF" [ngModelOptions]="{standalone: true}" [readonly]="isReadOnly" />
                <label>PDF Editor</label>
              </clr-checkbox-wrapper>
              <clr-checkbox-wrapper>
                <input type="checkbox" clrCheckbox name="needs_autocad"  [(ngModel)]="newEmp.needs_autocad" [ngModelOptions]="{standalone: true}" [readonly]="isReadOnly" />
                <label>AutoCAD</label>
              </clr-checkbox-wrapper>
              <clr-checkbox-wrapper>
                <input type="checkbox" clrCheckbox name="needs_publisher"  [(ngModel)]="newEmp.needs_publisher" [ngModelOptions]="{standalone: true}" [readonly]="isReadOnly" />
                <label>Publisher</label>
              </clr-checkbox-wrapper>
              <clr-checkbox-wrapper>
                <input type="checkbox" clrCheckbox name="needs_visio"  [(ngModel)]="newEmp.needs_visio" [ngModelOptions]="{standalone: true}" [readonly]="isReadOnly" />
                <label>Visio</label>
              </clr-checkbox-wrapper>
              <clr-checkbox-wrapper>
                <input type="checkbox" clrCheckbox name="needs_shoretel"  [(ngModel)]="newEmp.needs_shoretel" [ngModelOptions]="{standalone: true}" [readonly]="isReadOnly" />
                <label>ShoreTel</label>
              </clr-checkbox-wrapper>
              <clr-checkbox-wrapper>
                <input type="checkbox" clrCheckbox name="needs_sec"  [(ngModel)]="newEmp.needs_sec" [ngModelOptions]="{standalone: true}" [readonly]="isReadOnly" />
                <label>Security Video Access</label>
              </clr-checkbox-wrapper>
            
            <clr-control-error>This field is required!</clr-control-error>
          </clr-checkbox-container>
          <clr-input-container>
            <label>Shared Mailbox Access:</label>
            <input  clrInput [(ngModel)]="newEmp.shared_mbx" [ngModelOptions]="{standalone: true}" name="shared_mbx"  [readonly]="isReadOnly" />
            <clr-control-helper>List N/A if this is a new position...</clr-control-helper>
            <clr-control-error>This field is required!</clr-control-error>
          </clr-input-container>
            <clr-textarea-container>
              <label>Additional Programs or access needed</label>
              <textarea clrTextarea [(ngModel)]="newEmp.description" [ngModelOptions]="{standalone: true}" name="description" [readonly]="isReadOnly"></textarea>
              
                    
            </clr-textarea-container>

        <clr-checkbox-container clrInline>
            <clr-checkbox-wrapper>
              <input type="checkbox" clrCheckbox name="needs_deskphone" [(ngModel)]="newEmp.needs_deskphone" [ngModelOptions]="{standalone: true}" [readonly]="isReadOnly" />
              <label>Requires A Desk Phone</label>
            </clr-checkbox-wrapper>
            <clr-checkbox-wrapper>
              <input type="checkbox" clrCheckbox name="needs_cell" [(ngModel)]="newEmp.needs_cell" [ngModelOptions]="{standalone: true}" [readonly]="isReadOnly" />
              <label>Requires a Cell Phone</label>
            </clr-checkbox-wrapper>
            
            <clr-control-error>This field is required!</clr-control-error>
          </clr-checkbox-container>
          <clr-input-container>
            <label>If there is a phone at the desk list the Extension:</label>
            <input  clrInput type="text" [(ngModel)]="newEmp.phone_ext" formControlName="phone_ext" [readonly]="isReadOnly" />
            <clr-control-helper>List N/A if this is a new position...</clr-control-helper>
            <clr-control-error *clrIfError="'minlength'">Must be 4 digits</clr-control-error>
            <clr-control-error *clrIfError="'maxlength'">Must be 4 digits</clr-control-error>
            <clr-control-error *clrIfError="'pattern'">Only numbers allowed in this field</clr-control-error>
          </clr-input-container>
          <div (mouseover)="markTouched()">
            <button [clrLoading]="submitBtnState" class="btn btn-primary" type="submit"  (click)="createUserForm()" [disabled]="!userForm.valid" *ngIf="!emp_id">submit</button>
          </div>
          
          <button [clrLoading]="submitBtnState" class="btn btn-primary" (click)="createUser()" *ngIf="emp_id" [disabled]="isLocked || !userForm.valid">Create User</button>



</form>
</div>
</div>

</div>

</div>

<clr-modal [(clrModalOpen)]="successModal">
  <h3 class="modal-title">New Hire Form Successfully Submitted</h3>
  <div class="modal-body">
      <p>Thank you for submitting this form. You will recieve an email with a link to view the status of this request.</p>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="successButton()">Ok</button>
      
  </div>
</clr-modal>
<clr-modal [(clrModalOpen)]="createdModal">
  <h3 class="modal-title">Account: {{newEmp.user_name}} Successfully Created.</h3>
  <div class="modal-body">
    
      <p>You the create button. You deserve a break for your hard work.</p>
  </div>
  <div class="modal-footer">
      <button [clrLoading]="submitBtnState" type="button" class="btn btn-outline" (click)="createdButton()">OK</button>
      <!-- button type="button" class="btn btn-outline" (click)="cakeButton()">Have Some Cake.</button> -->
    
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="userExistsModal">
  <h3 class="modal-title">Account: {{newEmp.user_name}} Already exists</h3>
  <div class="modal-body">
      <p>Double check AD to make sure this user hasn't been created already, or change the user name.</p>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="userExistsModal = false">OK</button>
      
  </div>
</clr-modal>