<section class="wrapper">
    <p-toast [modal]="true" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
            <div style="text-align: center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
                <h3>{{message.summary}}</h3>
                <p>{{message.detail}}</p>
            </div>
            <div class="ui-g ui-fluid">
                <div class="ui-g-6">
                    <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
                </div>
                <div class="ui-g-6">
                    <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
                </div>
            </div>
        </ng-template>
    </p-toast>
<h1>Phones</h1>
<button (click)="createPhoneWizard()" class="btn btn-sm">Add Phone</button> 
    <div class="card">
            <div class="card-header">
                    <clr-icon shape="search"></clr-icon>
                    <input class="clr-input" type="text" size="25" placeholder="Search By Phone Number" (input)="dt.filterGlobal($event.target.value, 'contains')" (blur)="this.globalFilter = $event.target.value" (click)="this.selectedPhone = null">
                </div>
    </div>
    <div class="card" *ngIf="selectedPhone">
        <div class="card-header">
            Details For: {{selectedPhone.full_number}}
        </div>
        <div class="card-block" *ngIf="selectedPhone">
            <div class="card-text">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="clr-form-control" *ngIf="selectedPhone.owners[0]">
                                <label for="ext">Assigned To:</label>
                                <div *ngFor="let c of selectedPhone.owners; let i = index">
                                    <a [routerLink]="['/users/sam', c.user_name]">{{c.display_name}}</a>
                                </div>  
                                <label for="ext" *ngIf="selectedPhone.extension">Extension:</label>
                            <input class="clr-input" type="text" id="ext" size="7" readonly [(ngModel)]="selectedPhone.extension" *ngIf="selectedPhone.extension">
                            <label for="ext" *ngIf="selectedPhone.vm_id">Voicemail:</label>
                            <input class="clr-input" type="text" id="ext" size="7" readonly [(ngModel)]="selectedPhone.vm_id" *ngIf="selectedPhone.vm_id">
                        </div>
                        <div class="clr-form-control">
                            <label for="dn" *ngIf="selectedPhone.drop_num">Drop Number:</label>
                            <input class="clr-input" type="text" id="dn" size="10" readonly [(ngModel)]="selectedPhone.drop_num" *ngIf="selectedPhone.drop_num">
                            <label for="pn" *ngIf="selectedPhone.port_num">Port Number:</label>
                            <input class="clr-input" type="text" id="pn" size="10" readonly [(ngModel)]="selectedPhone.port_num" *ngIf="selectedPhone.port_num">
                            <label for="pn" *ngIf="selectedPhone.binding_post">Binding Post:</label>
                            <input class="clr-input" type="text" id="bp" size="10" readonly [(ngModel)]="selectedPhone.binding_post" *ngIf="selectedPhone.binding_post">
                        </div>
                        <div class="clr-form-control">
                            <label for="ext" *ngIf="selectedPhone.provider">LD Provider:</label>
                            <input class="clr-input" type="text" id="ext" size="10" readonly [(ngModel)]="selectedPhone.provider" *ngIf="selectedPhone.provider">
                            <label for="vm" *ngIf="selectedPhone.long_distance">Need LD?</label>
                            <input class="clr-input" type="text" id="vm" size="10" readonly [(ngModel)]="selectedPhone.long_distance" *ngIf="selectedPhone.long_distance">
                        </div>
                        <div class="clr-form-control">
                            <label for="ext" *ngIf="selectedPhone.line_type">Line Type:</label>
                            <input class="clr-input"type="text" id="cost" size="10" readonly [(ngModel)]="selectedPhone.line_type" *ngIf="selectedPhone.monthly_cost">
                            <label for="ext" *ngIf="selectedPhone.monthly_cost">Monthly Cost:</label>
                            <input class="clr-input" type="text" id="cost" size="10" readonly [(ngModel)]="selectedPhone.monthly_cost" *ngIf="selectedPhone.monthly_cost">
                            <label for="vm" *ngIf="selectedPhone.date_installed">Date Installed:</label>
                            <input class="clr-input" type="text" id="vm" size="10" readonly [(ngModel)]="selectedPhone.date_installed" *ngIf="selectedPhone.date_installed">
                        </div>
                        <clr-checkbox-container>
                            <clr-checkbox-wrapper>
                                <input type="checkbox" clrCheckbox id="disconnect_now" readonly [(ngModel)]="selectedPhone.disconnect_now" *ngIf="selectedPhone.disconnect_now">
                               <label>Disconnect</label> 
                            </clr-checkbox-wrapper>
                            
                            <clr-checkbox-wrapper>
                                <input type="checkbox" clrCheckbox id="disconnect_later" readonly [(ngModel)]="selectedPhone.disconnect_later" *ngIf="selectedPhone.disconnect_later">
                                <label>Disconnect Later</label> 
                            </clr-checkbox-wrapper>
                            <clr-checkbox-wrapper>
                                <input type="checkbox" clrCheckbox id="need_voicemail" readonly [(ngModel)]="selectedPhone.need_voicemail" *ngIf="selectedPhone.need_voicemail">
                               <label>Voicemail</label> Voicemail
                            </clr-checkbox-wrapper>
                            <clr-checkbox-wrapper>
                                <input type="checkbox" clrCheckbox id="investigate" readonly [(ngModel)]="selectedPhone.investigate" *ngIf="selectedPhone.investigate">
                                <label>Investigate</label> 
                            </clr-checkbox-wrapper>
                        </clr-checkbox-container>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="clr-form-control">
                            <label for="notes" *ngIf="selectedPhone.notes">Notes:</label>
                            <textarea class="clr-textarea" id="notes" rows="2" readonly [(ngModel)]="selectedPhone.notes" *ngIf="selectedPhone.notes"></textarea>
                        </div>
                        <div class="clr-form-control">
                            <label for="switch" *ngIf="selectedPhone.switch_comments">Switch Comments:</label>
                            <textarea class="clr-textarea" id="switch" rows="1" readonly [(ngModel)]="selectedPhone.switch_comments" *ngIf="selectedPhone.switch_comments"></textarea>
                        </div>
                    </div>




                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="btn-group btn-outline-primary btn-sm">
            <button (click)="updatePhoneWizard()" class="btn"><clr-icon shape="edit" class="is-inverse"></clr-icon>Edit</button>
            <button (click)="deleteModal()" class="btn">Delete</button>     
            </div>     
        </div>


    </div>
<p-table [columns]="cols" [value]="phones" selectionMode="single" [(selection)]="selectedPhone" datakey="id" [rows]="15" [paginator]="true"
    [pageLinks]="5" #dt>
    <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">

                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                    {{col.header}}
                </th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-phone let-columns="columns">
            <tr [pSelectableRow]="phone">
                    <td *ngFor="let col of columns">
                        <div *ngIf="col.subfield;then nested_object_content else normal_content"></div>
                        <ng-template #nested_object_content>
                            <div *ngIf="phone[col.field][0]">
                                {{phone[col.field][0][col.subfield]}}
                            </div>
                            <div *ngIf="!phone[col.field][0]">
                                Unassigned
                            </div>
                            </ng-template>
                            <ng-template #normal_content>    
                              {{phone[col.field]}}
                                </ng-template>  
                         </td>

            </tr>
        </ng-template>
</p-table>



</section>

<!-- Create A Phone Wizard -->

<clr-wizard #createlg [(clrWizardOpen)]="createOpen" clrWizardSize="lg" (clrWizardOnFinish)="createPhone()">
    <clr-wizard-title>Create A New Phone</clr-wizard-title>
    <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
    <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
    <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
    <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>

    <clr-wizard-page>
        <ng-template clrPageTitle>Phone Info</ng-template>
<form class="clr-form" *ngIf="newPhone">
        <div class="clr-form-control" >
            <label>Full Number:</label>
            <input class="clr-input" type="text" placeholder="Enter value here" size="35" name="full_number" [(ngModel)]="newPhone.full_number">
        </div>
        <div class="clr-form-control" >
            <label>Extension:</label>
            <input class="clr-input" type="number" placeholder="Enter value here" size="35" name="extension" [(ngModel)]="newPhone.extension">
        </div>
                <div class="clr-form-control" >
            <label>Voice Mail:</label>
            <input class="clr-input" type="number" placeholder="Enter value here" size="35" name="vm_id" [(ngModel)]="newPhone.vm_id">
        </div>
        <div class="clr-form-control">
            <label>Function:</label>
            <div class="clr-select-wrapper">
                <select class="clr-select" name="function_info" [(ngModel)]="newPhone.function_info">
                    <option>Voice</option>
                    <option>Modem</option>
                    <option>Fax</option>
                    <option>RAS</option>
                    <option>Alarm</option>
                    <option>RightFax</option>
                    <option>Emergency</option>
                    <option>Mechanical</option>
                </select>
            </div>
        </div>
        <div class="clr-form-control">
            <label>Phone Model</label>
            <div class="clr-select-wrapper">
                <select class="clr-select" name="model" [(ngModel)]="newPhone.model">
                    <option>InterTel Basic</option>
                    <option>Intertel Standard</option>
                    <option>InterTel Executive</option>
                    <option>RightFax</option>
                    <option>Analog Phone</option>
                    <option>AT&amp;T 8503T</option>
                    <option>AT&amp;T 8510T</option>
                    <option>AT&amp;T 6504T</option>
                    <option>AT&amp;T ISDN 10</option>
                    <option>AT&amp;T 8520T</option>
                    <option>AT&amp;T 8529</option>
                </select>
            </div>
        </div>
                <div class="clr-form-control">
            <label>Line Type:</label>
            <div class="clr-select-wrapper">
                <select class="clr-select" name="line_type" [(ngModel)]="newPhone.line_type">
                    <option>DID</option>
                    <option>Centrex Analog</option>
                    <option>Centrex ISDN</option>
                    <option>Measured Business</option>
                    <option>Paetec Digital Phone</option>
                </select>
            </div>
        </div>
        <div class="clr-form-control" >
            <label>Location:</label>
            <input class="clr-input" type="text" placeholder="Enter value here" size="35" name="location" [(ngModel)]="newPhone.location">
        </div>
                        <div class="clr-form-control" >
            <label>Long Distance:</label>
            <input class="clr-input" type="text" placeholder="Enter value here" size="35" name="long_distance" [(ngModel)]="newPhone.long_distance">
        </div>
                <div class="clr-form-control" >
            <label>Assigned to:</label>
            <input class="clr-input" type="text" placeholder="Enter value here" size="35" name="location" [(ngModel)]="newPhone.UserSAMAccountName">
                </div>
        <div class="clr-form-control" >
            <label>Monthly Cost:</label>
            <input class="clr-input" type="text" placeholder="Enter value here" size="35" name="monthly_cost" [(ngModel)]="newPhone.monthly_cost">

        </div>
                <div class="clr-form-control" >
            
            <clr-date-container>
                <label>Date Installed:</label>
            <input type="date" clrDate placeholder="Enter value here" size="35" name="date_installed" [(ngModel)]="newPhone.date_installed">
        </clr-date-container>
        </div>
        
        </form>
    </clr-wizard-page>

    <clr-wizard-page>
        <ng-template clrPageTitle>Additional Info</ng-template>
         <div class="clr-form-control">
                            <label for="switch" >Notes:</label>
                            <textarea id="switch" rows="5" name="notes" [(ngModel)]="newPhone.notes" ></textarea>
                        </div>
                 <div class="clr-form-control">
                            <label for="switch" >Switch Comments:</label>
                            <textarea id="switch" rows="2" name="switch_comments" [(ngModel)]="newPhone.switch_comments" ></textarea>
                        </div>
    </clr-wizard-page>

</clr-wizard>

<!-- Edit A Phone Wizard -->

<clr-wizard #updatelg [(clrWizardOpen)]="updateOpen" clrWizardSize="lg" (clrWizardOnFinish)="updatePhone()" *ngIf="selectedPhone">
    <clr-wizard-title>Edit Phone {{selectedPhone.full_number}}</clr-wizard-title>
    <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
    <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
    <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
    <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>

    <clr-wizard-page>
        <ng-template clrPageTitle>Phone Info</ng-template>
<form class="clr-form" >
        <div class="clr-form-control" >
            <label>Full Number:</label>
            <input class="clr-input" type="text" placeholder="Enter value here" size="35" name="full_number" [(ngModel)]="selectedPhone.full_number">
        </div>
        <div class="clr-form-control" >
            <label>Extension:</label>
            <input class="clr-input" type="text" placeholder="Enter value here" size="35" name="extension" [(ngModel)]="selectedPhone.extension">
        </div>
                <div class="clr-form-control" >
            <label>Voice Mail:</label>
            <input class="clr-input" type="text" placeholder="Enter value here" size="35" name="vm_id" [(ngModel)]="selectedPhone.vm_id">
        </div>
        <div class="clr-form-control">
            <label>Function:</label>
            <div class="clr-select-wrapper">
                <select class="clr-select" name="function_info" [(ngModel)]="selectedPhone.function_info">
                    <option>Voice</option>
                    <option>Modem</option>
                    <option>Fax</option>
                    <option>RAS</option>
                    <option>Alarm</option>
                    <option>RightFax</option>
                    <option>Emergency</option>
                    <option>Mechanical</option>
                </select>
            </div>
        </div>
        <div class="clr-form-control">
            <label>Phone Model</label>
            <div class="clr-select-wrapper">
                <select class="clr-select" name="model" [(ngModel)]="selectedPhone.model">
                    <option>InterTel Basic</option>
                    <option>Intertel Standard</option>
                    <option>InterTel Executive</option>
                    <option>RightFax</option>
                    <option>Analog Phone</option>
                    <option>AT&amp;T 8503T</option>
                    <option>AT&amp;T 8510T</option>
                    <option>AT&amp;T 6504T</option>
                    <option>AT&amp;T ISDN 10</option>
                    <option>AT&amp;T 8520T</option>
                    <option>AT&amp;T 8529</option>
                </select>
            </div>
        </div>
                <div class="clr-form-control">
            <label>Line Type:</label>
            <div class="clr-select-wrapper">
                <select class="clr-select" name="line_type" [(ngModel)]="selectedPhone.line_type">
                    <option>DID</option>
                    <option>Centrex Analog</option>
                    <option>Centrex ISDN</option>
                    <option>Measured Business</option>
                    <option>Paetec Digital Phone</option>
                </select>
            </div>
        </div>
        <div class="clr-form-control" >
            <label>Location:</label>
            <input class="clr-input" type="text" placeholder="Enter value here" size="35" name="location" [(ngModel)]="selectedPhone.location">
        </div>
                        <div class="clr-form-control" >
            <label>Long Distance:</label>
            <input class="clr-input" type="text" placeholder="Enter value here" size="35" name="long_distance" [(ngModel)]="selectedPhone.long_distance">
        </div>
                <div class="clr-form-control" >
            <label>Assigned to:</label>
                        <div class="select">
                <select name="UserSAMAccountName" [ngModel]="selectedPhone.owners && selectedPhone.owners[0]?.user_name" 
                (ngModelChange)="selectedPhone.owners?.length && selectedPhone.owners[0].user_name=$event">
                    <option name="UserSAMAccountName" *ngFor="let user of users" [value]="user.user_name">
                        {{ user.display_name }}
                    </option>
                </select>
            </div>
                </div>
        <div class="clr-form-control" >
            <label>Monthly Cost:</label>
            <input class="clr-input" type="text" placeholder="Enter value here" size="35" name="monthly_cost" [(ngModel)]="selectedPhone.monthly_cost">

        </div>
                <div class="clr-form-control" >
                    <clr-date-container>   
            <label>Date Installed:</label>
            <input clrDate type="date" placeholder="Enter value here" size="35" name="date_installed" [(ngModel)]="selectedPhone.date_installed">
                    </clr-date-container>
        </div>
        
        </form>
    </clr-wizard-page>

    <clr-wizard-page>
        <ng-template clrPageTitle>Additional Info</ng-template>
         <div class="clr-form-control">
                            <label for="switch" >Notes:</label>
                            <textarea id="switch" rows="5" name="notes" [(ngModel)]="selectedPhone.notes" ></textarea>
                        </div>
                 <div class="clr-form-control">
                            <label for="switch" >Switch Comments:</label>
                            <textarea id="switch" rows="2" name="switch_comments" [(ngModel)]="selectedPhone.switch_comments" ></textarea>
                        </div>
    </clr-wizard-page>

</clr-wizard>

<!-- Delete Phone Modal -->
<clr-modal [(clrModalOpen)]="delModalOpen">
    <h3 class="modal-title">Delete Phone</h3>
    <div class="modal-body" *ngIf="selectedPhone">
        <p>Are you sure you want to delete phone {{selectedPhone.full_number}} ?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="deleteModal()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="deletePhone() ">Delete</button>
    </div>
</clr-modal>