<h3>{{year}} AP Vouchers</h3>
<div class="clr-row">
    <div class="clr-col">
        <clr-dropdown>
            <button class="btn btn-outline-primary" clrDropdownTrigger>
                Year
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                <div *ngFor="let ap of APYears">
                <div aria-label="ap.year" clrDropdownItem [routerLink]="['/vouchers']" [queryParams]="{year: ap.year}" queryParamsHandling="merge" routerLinkActive="router-link-active">{{ap.year}}</div>
                </div> 
                </clr-dropdown-menu>
            </clr-dropdown>
    </div>
    <div class="clr-col">
        <span></span>
    </div>
    <div class="clr-col">
        <span></span>
    </div>
    <div class="clr-col">
        
    <clr-toggle-wrapper>
        <input type="checkbox" clrToggle [ngModel]="noOnBase" name="noOnBase" (click)="obParams()" />
        <label>Missing OnBase Vouchers Only</label>
      </clr-toggle-wrapper>
    
    </div>
</div>

<clr-datagrid [clrDgLoading]="loading" >
    <clr-dg-column [clrDgField]="'checkDate'" [clrDgSortOrder]="descSort">Check Run</clr-dg-column>
    <clr-dg-column [clrDgField]="'inputKey'" >Voucher Number</clr-dg-column>
    <clr-dg-column [clrDgField]="'vendorCode'">Vendor Code</clr-dg-column>
    <clr-dg-column [clrDgField]="'invoiceNum'">Invoice Number</clr-dg-column>
    <clr-dg-column>OnBase</clr-dg-column>

    <clr-dg-row *clrDgItems="let voucher of vouchers">
        <clr-dg-cell>{{voucher.checkDate | date}}</clr-dg-cell>
        <clr-dg-cell>{{voucher.inputKey}}</clr-dg-cell>
        <clr-dg-cell>{{voucher.vendorCode}}</clr-dg-cell>
        <clr-dg-cell>{{voucher.invoiceNum}}</clr-dg-cell>
        <clr-dg-cell *ngIf="voucher.onbase"><a href="http://GRF-LW-DIFS2/AppNet/docpop/docpop.aspx?KT216_0_0_0={{voucher.onbase.input}}&clienttype=html&doctypeid=145" target="_blank"><clr-icon shape="success-standard" class="is-solid is-success"></clr-icon></a></clr-dg-cell>
        <clr-dg-cell *ngIf="!voucher.onbase"><clr-icon shape="error-standard" class="is-solid is-danger"></clr-icon></clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer><clr-dg-pagination #pagination [clrDgPageSize]="20">
        <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Vouchers per page</clr-dg-page-size>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
        of {{pagination.totalItems}} vouchers
    </clr-dg-pagination> </clr-dg-footer>

</clr-datagrid>