    <div class="card" *ngFor="let u of selectedUser; let i =index">
        <div class="card-header">
            Assigned Assets for {{u.first_name}} {{u.last_name}}
        </div>
        <div class="card-block">
            <div class="card-text">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="form-group">
                            <label for="ext">Phone Number(s):</label>
                            <div *ngFor="let p of u.phones; let i = index">
                                <input type="text" id="ext" size="20" readonly [(ngModel)]="p.full_number" *ngIf="p.full_number">
                            </div>
                            <label for="ext">Extension:</label>
                            <div *ngFor="let p of u.phones; let i = index">
                                <input type="text" id="ext" size="20" readonly [(ngModel)]="p.extension" *ngIf="p.extension">
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="form-group" >
                            <label for="ext">Current Computer(s):</label>
                            <div *ngFor="let c of u.computers; let i = index">
                                <a [routerLink]="['/computers', c.computer_id]">{{c.computer_name}}</a>
                                <!-- BUG
                                    <span class="btn-group btn-link btn-icon-link">
                                    <button class="btn" [class.is-solid]= "cnCopied" ngxClipboard [cbContent]="c.computer_name" (cbOnSuccess)="cnCopied = true"><clr-icon shape="clipboard"></clr-icon></button>
                                </span>
                                -->
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="form-group">
                            <label for="ext">Current Trouble Tickets(s):</label>
                            <div *ngFor="let sr of u.service_requests; let i = index">
                                <a [href]="['http://helpdesk/SREdit.jsp?id='+ sr.id]" class="btn btn-primary btn-sm">SR{{sr.id}} - {{sr.title}}</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group btn-outline-primary btn-sm">
                </div>
            </div>


        </div>
    </div>