<ng-container>

    <ng-container *ngIf="selectedUser?.length ===0">

        <form (ngSubmit)="updatePhone()">
            <clr-modal [(clrModalOpen)]="phoneOpened">
                <h3 class="modal-title">User Not Assigned</h3>
                <div class="modal-body">

                    <p>Select a user to assign extension {{currentExt}} to:</p>

                    <div class="form-group">
                        <label>Assigned to:</label>
                        <div class="select">
                            <select [ngModel]="selectedUser" name="user_name" (ngModelChange)="selectedUser.user_name = $event">
                                <option name="user_name" *ngFor="let user of users" [value]="user.user_name">
                                    {{ user.display_name }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a routerLink="/users">
                        <button type="button" class="btn btn-outline" (click)="phoneOpened = false">Cancel</button>
                    </a>
                    <button type="submit" class="btn btn-primary">Ok</button>
                </div>
            </clr-modal>
        </form>

    </ng-container>
    <ng-container *ngFor="let u of selectedUser; let i =index">

        <div class="card">
            <div class="card-header">
                Assigned Assets for {{u.first_name}} {{u.last_name}}
            </div>
            <div class="card-block">
                <div class="card-text">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <label for="ext">Phone Number(s):</label>
                                <div *ngFor="let p of u.phones; let i = index">
                                    <input type="text" id="ext" size="20" readonly [(ngModel)]="p.full_number" *ngIf="p.full_number">
                                </div>
                                <label for="ext">Extension:</label>
                                <div *ngFor="let p of u.phones; let i = index">
                                    <input type="text" id="ext" size="20" readonly [(ngModel)]="p.extension" *ngIf="p.extension">
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <label for="ext">Current Computer(s):</label>
                                <div *ngFor="let c of u.computers; let i = index">
                                    <a [routerLink]="['/computers', c.computer_id]">{{c.computer_name}}</a>

                                    <span class="btn-group btn-link btn-icon-link">
                                        <button class="btn" [class.is-solid]="cnCopied" ngxClipboard [cbContent]="c.computer_name" (cbOnSuccess)="cnCopied = true">
                                            <clr-icon shape="clipboard"></clr-icon>
                                        </button>
                                    </span>

                                </div>

                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <label for="ext">Current Service Request(s):</label>
                                <div *ngFor="let sr of u.service_requests; let i = index">
                                    <a [href]="['http://helpdesk/SREdit.jsp?id='+ sr.id]" class="btn btn-primary btn-sm">SR{{sr.id}} - {{sr.title}}</a>

                                </div>
                            </div>
                            <a [href]="['http://helpdesk/SREdit.jsp?id=0&fromId=List&SR_Type=1&templateID=20']" type="button" class="btn btn-sm">
                                <clr-icon shape="plus"></clr-icon>ADD SERVICE REQUEST
                            </a>
                        </div>

                    </div>



                </div>
            </div>
            <div class="card-footer">

            </div>
        </div>
    </ng-container>
</ng-container>