<div class="main-container">
  <header class="header header-6">
      <div class="branding">
              <a routerLink="/" class="nav-link">
                <clr-icon shape="network-globe" class="is-inverse" ></clr-icon>
                <span class="title">IT Dashboard</span>
              </a>
      </div>
      <div class="header-nav">
        <a class="nav-link" routerLink="/"><span class="nav-text">Assets</span></a>
        <a class="nav-link" routerLink="/"><span class="nav-text">Users</span></a>
        <a class="nav-link" routerLink="dashboard/SR"><span class="nav-text">Reports</span></a>
      </div>
      <div class="header-actions" *ngIf="currentUser"> <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger>
          <span class="badge badge-danger" *ngIf="isAdmin && hireCount > 0">{{hireCount}}</span>
         {{currentUser.first_name}} {{currentUser.last_name}}
            <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right" >
          <a [routerLink]="['/users/onboard-status']" routerLinkActive="router-link-active"  clrDropdownItem *ngIf="!isAdmin">My Pending Hire Requests</a>
          <a [routerLink]="['/users/onboard-status']" routerLinkActive="router-link-active"  clrDropdownItem *ngIf="isAdmin">Hire Requests <span class="badge badge-danger" *ngIf="hireCount > 0">{{hireCount}}</span></a>
          <a [routerLink]="['/users/create']" clrDropdownItem *ngIf="isAdmin">Create User</a>
      </clr-dropdown-menu>

    </clr-dropdown>
    </div>
  </header>
    <nav class="subnav"> 
    </nav>
  <div class="content-container">
      <div class="content-area">   
      <router-outlet></router-outlet>
      </div>
    <nav class="sidenav"> 
      <phone-sidebar></phone-sidebar>
    </nav>
  </div>
</div>
