      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a routerLink="/" class="navbar-brand">MIS Assets</a>
          </div>

          <ul class="nav navbar-nav"> 
            <li><a class="nav-link" routerLink="/users">Users</a></li>
            <li><a class="nav-link" routerLink="/phones">Phones</a></li>
          </ul>

        </div>
      </nav>

      <router-outlet></router-outlet>
