<section class="wrapper">
    <h1>{{selectedComputer.computer_name}}</h1>
    <div class="card" *ngIf="selectedComputer">
        <div class="card-block" *ngIf="selectedComputer">
            <div class="card-text">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="ext">IP Address:</label>
                            <input type="text" id="ext" size="20" readonly [(ngModel)]="selectedComputer.ip_address" *ngIf="selectedComputer.ip_address">
                        </div>

                        <div class="form-group">
                            <label for="ext">Memory:</label>
                            <input type="text" id="ext" size="20" readonly [ngModel]="selectedComputer.computer_attribute.memory_physical | fileSize"
                                (ngModelChange)="selectedComputer.memory_physical=$event" *ngIf="selectedComputer.computer_attribute">

                        </div>
                                                    <div class="form-group">
                            <label for="ext">Disk Space:</label>
                            <input type="text" id="ext" size="6" readonly [ngModel]="selectedComputer.computer_attribute.disks_size + ' GB'" *ngIf="selectedComputer.computer_attribute">

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="ext">Operating System:</label>
                            <input type="text" id="ext" size="30" readonly [(ngModel)]="selectedComputer.computer_attribute.os_type" *ngIf="selectedComputer.computer_attribute.os_type">
                        </div>

                        <div class="form-group">
                            <label for="ext">Service Pack:</label>
                            <input type="text" id="ext" size="30" readonly [(ngModel)]="selectedComputer.computer_attribute.os_service_pack" *ngIf="selectedComputer.computer_attribute.os_service_pack">
                        </div>
                        <div class="form-group">
                            <label for="ext">Serial Number:</label>
                            <input type="text" id="ext" size="30" readonly [(ngModel)]="selectedComputer.computer_attribute.os_serial" *ngIf="selectedComputer.computer_attribute.os_serial">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group btn-outline-primary btn-sm">
                    <a [routerLink]="['/computers']" class="btn btn-primary btn-sm">View All Computers</a>
                </div>
            </div>


        </div>
    </div>

</section>