<section class="wrapper" *ngIf="selectedComputer">
    <h1 >{{selectedComputer.computer_name}}</h1>
    <div class="card" *ngIf="selectedComputer">
        <div class="card-block" *ngIf="selectedComputer">
            <div class="card-header">
                Asset Tag: {{selectedComputer.host_name}}
            </div>
            <div class="card-text">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group" *ngIf="selectedComputer.online_user">

                                <label for="ext">Currently Logged In: </label>
                                <a [routerLink]="['/users/sam', selectedComputer.online_user]">{{selectedComputer.user.display_name}}</a>

                        </div>
                        <div class="form-group">
                            <label for="ext">IP Address:</label>
                            <input class="clr-input" type="text" id="ext" size="20" readonly [(ngModel)]="selectedComputer.ip_address" *ngIf="selectedComputer.ip_address">
                        </div>

                        <div class="form-group" *ngIf="selectedComputer.memory !=='0'">
                            <label for="ext">Memory:</label>
                            <input class="clr-input" type="text" id="ext" size="20" readonly [ngModel]="selectedComputer.memory | fileSize"
                                (ngModelChange)="selectedComputer.memory=$event" >

                        </div>
                        <div class="form-group" *ngIf="selectedComputer.memory==='0'">
                            <label for="ext">Memory:</label>
                            <input class="clr-input" type="text" id="ext" size="20" readonly [ngModel]="selectedComputer.memory"
                                >

                        </div>
                        
                        <!-- <div class="form-group">
                            <label for="ext">Disk Space:</label>
                            <input class="clr-input" type="text" id="ext" size="6" readonly [ngModel]="selectedComputer.computer_attribute.disks_size + ' GB'" *ngIf="selectedComputer.computer_attribute">

                        </div> -->
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="ext">Operating System:</label>
                            <input class="clr-input" type="text" id="ext" size="30" readonly [(ngModel)]="selectedComputer.os_name" *ngIf="selectedComputer.os_name">
                        </div>

                        <div class="form-group">
                            <label for="ext">Service Pack:</label>
                            <input class="clr-input" type="text" id="ext" size="30" readonly [(ngModel)]="selectedComputer.os_service_pack" *ngIf="selectedComputer.os_service_pack">
                        </div>
                        <div class="form-group">
                            
                            <div *ngFor="let display of selectedComputer.pdq_displays; let i = index">
                                <label for="ext" *ngIf="display.model">Display {{i+1}}:</label>
                            <input class="clr-input" type="text" id="ext" size="30" readonly [(ngModel)]="display.model" *ngIf="display.model">
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group btn-outline-primary btn-sm">
                    <a [routerLink]="['/computers']" class="btn btn-primary btn-sm">View All Computers</a>
                </div>
            </div>


        </div>
    </div>
    <h3>Installed Applications</h3>

    
    <clr-datagrid *ngIf="selectedComputer.pdq_applications">
        <clr-dg-column>
            Name
            <clr-dg-string-filter [clrDgStringFilter]="appFilter"></clr-dg-string-filter>
        </clr-dg-column>
        <clr-dg-column>Publisher</clr-dg-column>
        <clr-dg-column>Version</clr-dg-column>
        <clr-dg-column>Installed On</clr-dg-column>
    
        <clr-dg-row *clrDgItems="let app of selectedComputer.pdq_applications" >
            <clr-dg-cell>{{app.name}}</clr-dg-cell>
            <clr-dg-cell>{{app.publisher}}</clr-dg-cell>
            <clr-dg-cell>{{app.version}}</clr-dg-cell>
            <clr-dg-cell>{{app.install_date | date}}</clr-dg-cell>
          
        </clr-dg-row>
    
        <clr-dg-footer> <clr-dg-pagination #pagination [clrDgPageSize]="10">
            <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Applications per page</clr-dg-page-size>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
            of {{pagination.totalItems}} Applications
        </clr-dg-pagination></clr-dg-footer>
    </clr-datagrid>
</section>