<section class="wrapper">
    <h1>Users</h1>
    <div class="card">
        <div class="card-header">
            <clr-icon shape="search"></clr-icon>
            <input #gb type="text" pInputText size="25" placeholder="Search Users">
        </div>
    </div>
    <div class="card" *ngIf="selectedUser">
        <div class="card-header">
            User {{selectedUser.user_name}}
        </div>
        <div class="card-block" *ngIf="selectedUser">
            <div class="card-text">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group" >
                            <label for="ext">Phone Number:</label>
                            <div *ngFor="let p of selectedUser.phones; let i = index">  
                            <input type="text" id="ext" size="20" readonly [(ngModel)]="p.full_number" *ngIf="p.full_number">
                            </div>
                        </div>
                        <div class="form-group" >
                            <label for="ext">Current Computer(s):</label>
                        <div *ngFor="let c of selectedUser.computers; let i = index">      
                            <input type="text" id="ext" size="10" readonly [(ngModel)]="c.computer_name" *ngIf="c.computer_name"> 
                        </div>    
                        </div>

                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group btn-outline-primary btn-sm">
                    <button  class="btn"><clr-icon shape="edit" class="is-inverse"></clr-icon>Edit</button>
                    <button  class="btn">Delete</button>
                </div>
            </div>


        </div>
    </div>
        <p-dataTable [value]="users" selectionMode="single" [(selection)]="selectedUser" datakey="id" [rows]="10" [paginator]="true"
            [pageLinks]="5" [rowsPerPageOptions]="[5,10,20]" [globalFilter]="gb">
            <p-column field="display_name" header="Display Name" [sortable]="true"></p-column>
            <p-column field="user_name" header="Username" [sortable]="true"></p-column>
            <p-column field="email" header="email" [sortable]="true"></p-column>
            <p-column field="department" header="Department" [sortable]="true"></p-column>
            <p-column field="title" header="Title" [sortable]="true"></p-column>
        </p-dataTable>
</section>