<section class="wrapper">
    <h1>Users</h1>
    <div class="card">
        <div class="card-header">
            <clr-icon shape="search"></clr-icon>
            <input class="clr-input" type="text" size="25" placeholder="Search By Name" (input)="dt.filterGlobal($event.target.value, 'contains')" >
        </div>
    </div>
    <div class="card" *ngIf="selectedUser">
        <div class="card-header">
            Assigned Assets for {{selectedUser.first_name}} {{selectedUser.last_name}}
        </div>
        <div class="card-block" *ngIf="selectedUser">
            <div class="card-text">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="form-group">
                            <label for="ext">Phone Number(s):</label>
                            <div *ngFor="let p of selectedUser.phones; let i = index">
                                <input class="clr-input" type="text" id="ext" size="20" readonly [(ngModel)]="p.full_number" *ngIf="p.full_number">
                            </div>
                            <div *ngFor="let p of selectedUser.phones; let i = index">
                                <label for="ext" *ngIf="p.extension">Extension:</label>
                                <div>
                                    <input class="clr-input" type="text" id="ext" size="20" readonly [(ngModel)]="p.extension" *ngIf="p.full_number">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="form-group">
                            <label for="ext">Current Computer(s):</label>
                            <div *ngFor="let c of selectedUser.pdq_computers; let i = index">
                                <a [routerLink]="['/computers', c.computer_id]">{{c.host_name}}</a>
                                <span class="btn-group btn-link btn-icon-link">
                                    <button class="btn" [class.is-solid]="cnCopied" ngxClipboard [cbContent]="c.host_name" (cbOnSuccess)="cnCopied = true"
                                        alt="Copy to clipboard" title="Copy to clipboard">
                                        <clr-icon shape="clipboard"></clr-icon>
                                    </button>
                                </span>

                            </div>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="form-group">
                            <label for="ext">Current Trouble Tickets(s):</label>
                            <div *ngFor="let sr of selectedUser.service_requests; let i = index">
                                <a [href]="['http://helpdesk/SREdit.jsp?id='+ sr.id]" class="btn btn-primary btn-sm">SR{{sr.id}} - {{sr.title}}</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group btn-outline-primary btn-sm">
                </div>
            </div>


        </div>
    </div>
    <p-table #dt [columns]="cols" [value]="users" selectionMode="single" [(selection)]="selectedUser" datakey="id" [rows]="15"
        [paginator]="true" [pageLinks]="5">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                    {{col.header}}
                </th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user let-columns="columns">
            <tr [pSelectableRow]="user">
                <td *ngFor="let col of columns">
                    {{user[col.field]}}
                </td>

            </tr>
        </ng-template>

    </p-table>
</section>